 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 nav {
     display: flex;
     justify-content: space-around;
 }

 .navleft {
     font-size: 2rem;
     font-style: italic;
     font-weight: 600;
 }

 nav,
 .navlinks {
     display: flex;
     align-items: center;
 }

 nav {
     justify-content: space-around;
     height: 17vh;
 }

 .navlinks {
     gap: 2rem;
     list-style: none;
     font-size: 1.2rem;
 }

 .navlinks a {
     text-decoration: none;
     color: #555;
 }

 nav li:last-child {
     margin: auto;
     width: max-content;
     display: flex;
     padding: 10px;
 }

 .navright {
     font-size: 1.2rem;
     border: 1px none;
     padding: 10px 20px;
     background: lightblue;
     border-radius: 10px;
     color: #007bff;
     cursor: pointer;
 }

 .hero {
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 50px 200px;
 }

 h1 {
     font-size: 3rem;
     font-weight: 600;
     line-height: 1.2;
     color: #333;
 }

 span {
     color: #007bff;
 }

 p {
     font-size: 1.5rem;
     color: #555;
 }

 button {
     padding: 20px;
     font-size: 1.2rem;
     background: #007bff;
     color: white;
     border: none;
     border-radius: 20px;
     cursor: pointer;
 }

 .heroright {
     width: 100%;
     height: auto;
 }